<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>@ViewData["Title"] | AccuWeather</title>

	<link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/AccuWeather.Web.SkillsTest.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		@* TODO: Build header UI *@
		<accuweather-logo width="404" />
	</header>
	<main>
		@RenderBody()
	</main>
	<footer>
		@* TODO: Build footer UI *@
	</footer>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
