@{
	ViewData["Title"] = "Home";
}

@* TODO: Insert View Components Here *@
<vc:placeholder text="Placeholder" />

<div id="app"></div>

@section Scripts {
	<script src="~/js/home.js" asp-append-version="true" type="module"></script>
}
