@{
	ViewData["Title"] = "Home";
}

@* TODO: Insert View Components Here *@
<vc:location text="" />
<vc:current-conditions/>

<div id="app"></div>

<vc:weather-alerts/>
<vc:h-forecast/>
<vc:d-forecast/>